# ─── Secrets ─────────────
.env
.env.production
.env.staging
.env.development

# ─── Next.js ─────────────
/.next/
/out/
/build

# ─── Node ────────────────
node_modules/
npm-debug.log*

# ─── Docker ──────────────
postgres_data/

# ─── Uploads ─────────────
public/uploads/

# ─── Misc ────────────────
.DS_Store
*.pem

# ─── Docs ────────────────
/document/*

# ─── AI ────────────────
.commandcode/*
.vercel
.env*
!.env.example
docs/production_readiness_100k_users.md
bk/

# Sentry Config File
.env.sentry-build-plugin
